@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aladin&family=Krub:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(194deg, #00BCE7 0%, #006BC0 50.52%, #00BCE7 97.40%) fixed;
}

body>div {
  height: 100%;
  width: 100%;
}

a.active {
  color: black !important;
}

.slick-current .slider-content {
  background-color: white;
}